<mat-card>
    <div class="alert alert-info">
        <strong>DataTable with Serching , Sorting and Pagination in Angular 6</strong>
    </div>
    <div class="example-container mat-elevation-z8">
            <div class="">
                    <mat-form-field style="width: 98%;">
                        <input matInput (keyup)="Filter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>
        <mat-table #Table [dataSource]="MyDataSource" matSort>

            <!-- For ID -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef  mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let post"> {{post.id}} </mat-cell>
            </ng-container>

            <!-- For User ID -->
            <ng-container matColumnDef="userId">
                <mat-header-cell *matHeaderCellDef  mat-sort-header> User ID </mat-header-cell>
                <mat-cell *matCellDef="let post"> {{post.userId}} </mat-cell>
            </ng-container>

            <!-- For Title -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef  mat-sort-header> Title </mat-header-cell>
                <mat-cell *matCellDef="let post"> {{post.title}} </mat-cell>
            </ng-container>

            <!-- For Body -->
            <ng-container matColumnDef="body">
                <mat-header-cell *matHeaderCellDef  mat-sort-header> Body Text </mat-header-cell>
                <mat-cell *matCellDef="let post"> {{post.body}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
         <!-- To paginate between pages with search -->
         <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
            </mat-paginator>
    </div>
</mat-card>