<igx-tabs>
    <igx-tabs-group label="Home" icon="library_music">
        <div style="margin: 10px 3px 3px 1px">
            <igx-card>
                <igx-card-header class="compact">
                    <div class="igx-card-header__tgroup">
                        <h3 class="igx-card-header__title--small small">Welcome home! Click on the tabs to see the content change.</h3>
                    </div>
                </igx-card-header>
            </igx-card>
        </div>
    </igx-tabs-group>
    <igx-tabs-group label="FAVOURITES" icon="favorite">
        <div style="margin: 10px 3px 3px 1px">
            <igx-card>
                <igx-card-header class="compact">
                    <div class="igx-card-header__tgroup">
                        <h3 class="igx-card-header__title--small small">Favorite and favourite are both correct spellings, depending on whether you use American or British spelling standards.</h3>
                    </div>
                </igx-card-header>
            </igx-card>
        </div>
    </igx-tabs-group>
    <igx-tabs-group label="Hats" icon="info">
        <div style="margin: 10px 3px 3px 1px">
            <igx-card>
                <igx-card-header class="compact">
                    <div class="igx-card-header__tgroup">
                        <h3 class="igx-card-header__title--small small">A hat is a head covering. It can be worn for protection against the elements, ceremonial reasons, religious reasons, safety, or as a fashion accessory.</h3>
                    </div>
                </igx-card-header>
            </igx-card>
        </div>
    </igx-tabs-group>
    <igx-tabs-group label="Footwear" icon="favorite">
        <div style="margin: 10px 3px 3px 1px">
            <igx-card>
                <igx-card-header class="compact">
                    <div class="igx-card-header__tgroup">
                        <h3 class="igx-card-header__title--small small">A shoe is an item of footwear intended to protect and comfort the human foot while doing various activities. Shoes are also used as an item of decoration.</h3>
                    </div>
                </igx-card-header>
            </igx-card>
        </div>
    </igx-tabs-group>
</igx-tabs>